
<div class="body" [ngClass]="{'newBody':checkLoginSession}">

  <div class="container">

      <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
		<div class="navbar-header">
      <a  class="navbar-toggle menu" data-toggle="collapse" data-target="#myNavbar">
        <i class="fa fa-bars" aria-hidden="true"></i> Menu
      </a>
    </div>
	<div class="collapse navbar-collapse" id="myNavbar">
        <ul>
          <li>
            <a class="dropdown" (click)="onreload()">Home<span class="caret"></span>
              <!-- <div class="dropdown-content">dsfsdf sfdsdfs fs sdfsdfs sdsdfds d</div> -->
            </a>

          </li>
          <li>
            <a  class="dropdown">About Gacs
              <!-- <div class="dropdown-content"></div> -->
              </a>
          </li>
          <li>
            <a  class="dropdown">Vision & Mission
              <div class="dropdown-content vision">
                <p>Mission:</p>Corporate Services as a focuses on multiple aspects of business support including but not limiting to Real Estate
                Services, Facilities Management, Sourcing & Procurement, Travel, Hospitality, Transport Services, Sustainability, Security
                and Investigations, BCM, Disaster Management & multiple other functions which are critical to the functioning of any business.
                Corporate Services in the larger role, defines the way governments of various countries work & make the ease of doing business
                more approachable to the entrepreneurs. Leaders of this domain have vast experiences in the manner large organization, large
                campuses, multi-location offices, multi-region offices operate complying with the laws of the land. They contribute immensely
                in the development of the nation & create employment opportunities for millions of people around the globe.
              </div>
              </a>
          </li>
          <li>
            <a  class="dropdown">Upcoming Engagement
              <!-- <div class="dropdown-content">dsfsdf sfdsdfs fs sdfsdfs sdsdfds d</div> -->
              </a>
          </li>
          <li>
            <a  class="dropdown">Support & Partner
              <!-- <div class="dropdown-content">dsfsdf sfdsdfs fs sdfsdfs sdsdfds d</div> -->
              </a>
          </li>
          <li  *ngIf="isLogin">
            <a  class="dropdown"><img src="./../../assets/setting.png">
              <div  class="dropdown-content width" >
                <ul class="ulWidth">
                  <li (click)="getMyProfile()">MY Profile</li>
                  <li>My activity</li>
                  <li>Refer a partner</li>
                  <li>Referred By</li>
                </ul>
            </div>
            </a>
         </li>
        </ul></div>
        </div>
      </nav>
         <hr class="hori">
  </div>
  <div class="container">
    <div class="row welcome">
      <div class="col-md-12 mainbody">
        <p *ngIf="isLogin">
          <img class="profile" [attr.src]="image" />
        </p>
        <p class="userWel" *ngIf="isLogin"> Welcome to GACS </p>
        <!-- fill profile name above -->
        <p *ngIf="!isLogin" class="para1">WelCome</p>
        <P *ngIf="!isLogin" class="para2">to</P>
        <P *ngIf="!isLogin"> Global Associates Corporate Of Service</P>
        <p class="user" *ngIf="isLogin"> <span></span>{{name}}</p>
      </div>
    </div>
    <div  *ngIf="!isLogin"class="row enterRow">
        <div class="offset-sm-6 col-sm-2 enterword">
          <a  (click)="openSignupModal()">ENTER GACS WORD</a>

          <hr class="line1">
          <hr class="line2">
          <hr class="line3">
          <hr class="line4">
        </div>
    </div>


  </div>
    <div  *ngIf="!isLogin" class="row margintop">
      <div class="col-md-4 widthgallry">
        <app-css-carousel></app-css-carousel>
      </div>
      <div class="col-md-4 widthgallry">
        <app-video ></app-video>
      </div>
      <div class="col-md-4 widthgallry">
        <app-css-carousel></app-css-carousel>
      </div>
    </div>
  <div class="modal signupModal" *ngIf="signupModal" role="dialog">
    <div class="modal-dialog modal-lg modallogin">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Verify your mobile number to process further</h6>
        </div>
        <div class="modal-body margin-left-10">
          <div class=" row">
          <div class="col-md-6">
          <input  type="tel " maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57 ' class="form-control  margin-top-10"  aria-describedby="emailHelp" placeholder="Enter Mobile Number" [ngModelOptions]="{standalone: true}" [(ngModel)]="mobileNumber">
          <div *ngIf="displayTimer" class="text-center border-bottom margin-top-20">
            <h6>
            00:{{secondsDisplay}}
          </h6>
          </div>
          <input  *ngIf="otpModal"  type="tel " maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57 ' class="form-control  margin-top-10"  aria-describedby="emailHelp" placeholder="Enter OTP" [ngModelOptions]="{standalone: true}" [(ngModel)]="inputOtp">
          </div>
        </div>
        <div class="row margin-top-20">
          <div class="col-md-6 display-inline-block">
              <button   *ngIf="!otpModal" type="button" class="btn  login-button hover" (click)="onLogin()">LOGIN</button>
              <button *ngIf="otpModal" type="button" class="btn  login-button hover" (click)="onOtp()">Verify</button>
          </div>
          <div class="col-md-6 display-inline-block content">
              If you do not recevie your OTP in 1 Minute.click to
              <a  *ngIf="disableResend" class="resend-otp hover"  class="disabled">Resend OTP</a>
              <a  *ngIf="!disableResend" class="resend-otp hover" (click)="onLogin()">Resend OTP</a>
          </div>
          <div class="close-button" (click)="closeModal()">
            <img src='./../../assets/close.png' class="hover" height="42" width="42">
          </div>
        </div>

         </div>
      </div>
      <div class="line-button">
      </div>
      <div class="line-button margin-top-5">
      </div>
    </div>
  </div>


  <div class="modal signupModal" *ngIf="profileModal" role="dialog">
    <div class="modal-dialog modal-lg modallogin">
      <div class="modal-content">
        <div class="modal-body margin-left-10">
          <div class="center">
            <p ><img class="profile"[attr.src]="user.image" alt=""></p>
            <input type="file" accept="image/*" capture id="filePicker" name="uploader" (change)="handleFileSelect($event)"><br>
          </div>
          <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Name"  readonly [ngModelOptions]="{standalone: true}" [(ngModel)]="user.name">
          <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Email"  [ngModelOptions]="{standalone: true}" [(ngModel)]="user.personal_email">
          <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Address"  [ngModelOptions]="{standalone: true}" [(ngModel)]="user.address">
          <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter City" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.city">
          <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Country" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.country">
          <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Company" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.comp_name">
          <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Designation" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.designation">
          <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Gender" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.gender">
          <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Office email" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.official_email">
          <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Emergency Name" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.emergency_name">
          <input type="tel"  maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <=57 ' class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Emergency number" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.emergency_number">
          <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter email" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="user.personal_email">
          <input type="tel "  maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57 ' class="form-control  margin-top-10"  aria-describedby="emailHelp" placeholder="Enter mobile number"   [ngModelOptions]="{standalone: true}" [(ngModel)]="user.mobile">
          <button   type="button" class="btn margin-bootom-20 margin-top-20  login-button hover " (click)="upDateProfile()">Save</button>
          <div class="close-button" (click)="closeProfileModal()">
              <img src='./../../assets/close.png' class="hover" height="42" width="42">
            </div>
        </div>
      </div>
      <div class="line-button">
      </div>
      <div class="line-button margin-top-5">
      </div>
    </div>
  </div>
  <app-dashboard *ngIf="isLogin && !profiledata" (user)="userlogged($event)" ></app-dashboard>

</div>
<div *ngIf="profiledata" class="col-md-12" style="background:white;">
      <div class="col-md-3 profileUpadte">
        <h6>
          Update Profile Details
        </h6><p>
          <img class="profile" [attr.src]="visiting_image" alt=""/>
        </p>
      </div>
  <div class="form-group row">
    <label for="example-Designation-input" class="col-md-2 col-form-label">Full Name</label>
    <div class="col-md-4">
      <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Name" readonly [ngModelOptions]="{standalone: true}" [(ngModel)]="user.name">
    </div>
    <label for="example-Gender-input" class="col-md-2 col-form-label">Mobile</label>
    <div class="col-md-4">
      <input type="tel"  maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <=57' class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter mobile"  [ngModelOptions]="{standalone: true}"
        [(ngModel)]="user.mobile">
    </div>
  </div>
    <div class="form-group row">
      <label for="example-Designation-input" class="col-md-2 col-form-label">Status</label>
      <div class="col-md-4">
      <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter status"  [ngModelOptions]="{standalone: true}"
        [(ngModel)]="user.status">
      </div>
      <label for="example-Gender-input" class="col-md-2 col-form-label">Name of the Company</label>
      <div class="col-md-4">
      <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Company"  [ngModelOptions]="{standalone: true}"
        [(ngModel)]="user.comp_name">
      </div>
    </div>
      <div class="form-group row">
        <label for="example-Designation-input" class="col-md-2 col-form-label">Personal Email Address</label>
        <div class="col-md-4">
<input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Personal Email"  [ngModelOptions]="{standalone: true}"
  [(ngModel)]="user.personal_email">        </div>
        <label for="example-Gender-input" class="col-md-2 col-form-label">Official Email Address</label>
        <div class="col-md-4">
<input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter official email"  [ngModelOptions]="{standalone: true}"
  [(ngModel)]="user.official_email">        </div>
      </div>
        <div class="form-group row">
          <label for="example-Designation-input" class="col-md-2 col-form-label">Office Address</label>
          <div class="col-md-4">
<input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter address"  [ngModelOptions]="{standalone: true}"
  [(ngModel)]="user.address">          </div>
          <label for="example-Gender-input" class="col-md-2 col-form-label">City</label>
          <div class="col-md-4">
<input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter city"  [ngModelOptions]="{standalone: true}"
  [(ngModel)]="user.city">          </div>
        </div>
        <div class="form-group row">
        <label for="example-Designation-input" class="col-md-2 col-form-label">State</label>
        <div class="col-md-4">
<input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter state"  [ngModelOptions]="{standalone: true}"
  [(ngModel)]="user.state">        </div>
        <label for="example-Gender-input" class="col-md-2 col-form-label">Date of Birth</label>
        <div class="col-md-4">
<input type="date" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter dob"  [ngModelOptions]="{standalone: true}"
  [(ngModel)]="user.dob">        </div>
        </div>
        <div class="form-group row">
          <label for="example-Designation-input" class="col-md-2 col-form-label">Designation</label>
          <div class="col-md-4">
            <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Designation" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="user.designation"> </div>
          <label for="example-Gender-input" class="col-md-2 col-form-label">Country</label>
          <div class="col-md-4">
            <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Country" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="user.country"> </div>
        </div>
        <div class="form-group row">
        <label for="example-Designation-input" class="col-md-2 col-form-label">Past Experience</label>
        <div class="col-md-4">
<input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter past_exp"  [ngModelOptions]="{standalone: true}"
  [(ngModel)]="user.past_exp">        </div>
        <label for="example-Gender-input" class="col-md-2 col-form-label">Emergency Contact Name</label>
        <div class="col-md-4">
<input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter emergency_name"  [ngModelOptions]="{standalone: true}"
  [(ngModel)]="user.emergency_name">        </div>
        </div>
        <div class="form-group row">
        <label for="example-Designation-input" class="col-md-2 col-form-label">Emergency Contact Number</label>
        <div class="col-md-4">
<input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter emergency_number"  [ngModelOptions]="{standalone: true}"
  [(ngModel)]="user.emergency_number">        </div>
        <label for="example-Gender-input" class="col-md-2 col-form-label">Referred By</label>
        <div class="col-md-4">
<input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter refer_by"  [ngModelOptions]="{standalone: true}"
  [(ngModel)]="user.refer_by">        </div>
        </div>
             <div class="form-group row">
        <label for="example-Designation-input" class="col-md-2 col-form-label">Remarks</label>
        <div class="col-md-4">
<input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter remark"  [ngModelOptions]="{standalone: true}"
        [(ngModel)]="user.remark">        </div>
        <label for="example-Gender-input" class="col-md-2 col-form-label">Upload Profile Image</label>
        <div class="col-md-4">
        <input type="file" accept="image/*" capture id="filePicker" name="image" (change)="handleFileSelect($event)">
        </div>
        </div>
        <div class="form-group row">
        <label for="example-Designation-input" class="col-md-2 col-form-label">Upload Visiting Card Image</label>
        <div class="col-md-4">
        <input type="file" accept="image/*" capture id="filePickerVisit" name="visiting_image" (change)="handleFileSelectVisit($event)">
        </div>
        </div>
        <div class="col-md-12" style="margin:auto; width:200px">
    <button type="button"  style="margin:auto; width:200px" class="btn btn-primary margin-bootom-20 margin-top-20 hover " (click)="upDateProfile()">Save</button>
</div>




  <!-- <div class="margin-left-10"> -->
<!--
    <div class="center">
      <p>
        <img class="profile" [attr.src]="user.image" alt="">
      </p>
      <input type="file" accept="image/*" capture id="filePicker" name="uploader" (change)="handleFileSelect($event)">
      <br>
    </div>
    <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Name" readonly [ngModelOptions]="{standalone: true}"
      [(ngModel)]="user.name">
    <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Email" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="user.personal_email">
    <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Address" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="user.address">
    <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter City" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="user.city">
    <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Country" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="user.country">
    <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Company" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="user.comp_name">
    <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Designation" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="user.designation">
    <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Gender" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="user.gender">
    <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Office email" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="user.official_email">
    <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter Emergency Name" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="user.emergency_name">
    <input type="tel" maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <=57 ' class="form-control  margin-top-10"
      aria-describedby="emailHelp" placeholder="Enter Emergency number" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.emergency_number">
    <input type="text" class="form-control  margin-top-10" aria-describedby="emailHelp" placeholder="Enter email" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="user.personal_email">
    <input type="tel " maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57 ' class="form-control  margin-top-10"
      aria-describedby="emailHelp" placeholder="Enter mobile number" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.mobile">
    <button type="button" class="btn margin-bootom-20 margin-top-20  login-button hover " (click)="upDateProfile()">Save</button>
    <div class="close-button" (click)="closeProfileModal()">
      <img src='./../../assets/close.png' class="hover" height="42" width="42">
    </div>
  </div> -->
</div>
