<div class="row dash">
  <ul class="width-ul">
    <li class="hover">
      <img id="innerImage" src="./../../assets/council.png" alt="">
      <img src='./../../assets/button.png' alt=''>
      <p>Councils</p>
    </li>
    <li class="hover">
      <img id="innerImage" src="./../../assets/bearers.png" alt="">
      <img src='./../../assets/button.png' alt=''>
      <p>Office Bearers</p>
    </li>
    <li class="hover">
      <img id="innerImage" src="./../../assets/job.png" alt="">
      <img src='./../../assets/button.png' alt=''>
      <p>Carriers</p>
    </li>
    <li class="hover">
      <img id="innerImage" src="./../../assets/partner.png" alt="">
      <img src='./../../assets/button.png' alt=''>
      <p>Partner</p>
    </li>
    <li class="hover">
      <img id="innerImage" src="./../../assets/event.png" alt="">
      <img src='./../../assets/button.png' alt=''>
      <p>Events</p>
    </li>
    <li class="hover">
      <img id="innerImage" src="./../../assets/news.png" alt="">
      <img src='./../../assets/button.png' alt=''>
      <p>news</p>
    </li>
    <li class="hover">
      <img id="innerImage" src="./../../assets/vendors.png" alt="">
      <img src='./../../assets/button.png' alt=''>
      <p>Registered Vendors</p>
    </li>
  </ul>
</div>
