.dash{
  padding-top: 50px;
  background: white;
  margin: 0px
}
.dash>ul>li{
  display: inline-block;
      margin: 0px 15px 0px 15px;
}
.dash>ul>li>img{
  width: 95px;
}
.width-ul{
  width: auto;
  padding-left: 0px;
  margin: auto;
}
.dash #innerImage{
position: absolute;
    margin-top: 25px;
    margin-left: 25px;
    width: 43px;
}
.dash .hover p{
text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: bold;
    margin-top: 5px;
}
.dashboard-content{
  background: white;
  padding: 20px;
}
.card{
  padding: 5px;
  margin-top: 5px;
  border:1px solid #80808045;
}
.content-inner{
  display: inline-block;
  padding-bottom: 5px;
}
.content-inner p{
      font-size: 14px;
    color: #868e96;
}
.content-inner #left-image{
  float: left;
    border: 1px solid #80808045;
    padding: 5px;
    border-radius: 2px;
    margin: 5px 15px 5px 0px;
}
.head{
    margin-bottom: 0px;
    color:#007196;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.head1{
    margin-bottom: 0px;
    color:#007196;
	padding:0px 15px 0px 15px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.sec-head{
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #868e96cc;
}
.cardCar{
  padding: 15px 15px 5px 15px;
  margin-top: 5px;
  border-radius: 5px;
  border:1px solid #80808045;
}
.carrierPro{
    font-size: 12px;
    color: #ce7878;
    margin-bottom: 2px;
    font-weight: bold;
}
.carrierHead{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #868e96;
}
.carrierDes{
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 11px;
    color: #868e96cc;
}
.carrierWeb{
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 11px;
    color: #868e96cc;
}
.carrieLoc{
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 11px;
    color: #868e96cc;
}
.btn-default{
  display: inline-block;
    height: 26px;
    width: 100px;
    padding: 0px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.apply{
  background: blueviolet;
}
.alert{
	margin: auto;
    margin-top: 50px;
}
.create{
	margin-top:40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
	border-color: #c35413;
	color:#c35413;
}
.create i{
	font-size:30px;
}
.modal{
  background: #0000009a;
}
.padding-bottom-100{
	padding-bottom:20px;
}
.margin-top-20{
	display:inline-block;
}
#left-pdf{
    color: #ce1313;
    font-size: 48px;
}
.dash .width-ul .active::before{
    content: '';
    position: absolute;
    width: 20px;
    margin-top: -40px;
    padding: 5px;
    background-image: url('./../../assets/active.png');
    height: 40px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 32px;
}
