/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Judson|Rasa:500');

body{
    width: 100%;
  height: 653px;
  background-image: url('./assets/home.png');
  background-size: 100% 100%;
      background-repeat: no-repeat;
}
